.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
}

.header {
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 3px 4px -2px #c4c3c3;
}

.buttonGroup {
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 20px;
}

.button {
    padding: 5px 10px;
    cursor: pointer;
    border: 2px solid blue;
    border-radius: 3px;
    color: blue;
    font-size: 20px;
    background-color: transparent;
}
